.card {
  max-width: 360px;
  max-height: 275px;
  height: 275px * 1.116 * calc(100vw / 1366px);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  .image {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .info_container {
    position: relative;
    user-select: none;
    display: flex;
    height: 145px;
    bottom: calc(30px);
    color: black;
    justify-content: start;
    background-color: rgba(#fff, 0.75);
    transition: all 0.3s ease-in-out;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 300;
    gap: 5px;

    .author,
    .created,
    .location {
      line-height: 15px;
      display: flex;
      gap: 8px;
    }

    .author {
      gap: 4px;
    }

    .name {
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
    }

    .label {
      font-weight: 600;
    }
  }
}

.card:hover .info_container {
  bottom: 145px;
}

@media (max-width: 768px) {
  .card {
    max-width: 340px;
    max-height: 249px;
    height: 249px * calc(100vw / 768px);
  }
}

@media (max-width: 580px) {
  .card {
    max-width: 360px;
    max-height: 265px;
    min-width: 280px;
    min-height: 205px;
    height: 265px * calc(100vw / 580px);
    width: 360px * calc(100vw / 580px);
  }
}
