.select {
  transition:
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--background-color);
  border: 1px solid var(--font-color);
  width: 265px;
  height: 45px;
  padding: 0 15px;
  border-radius: 8px;
  box-sizing: border-box;
}

.select_value {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
  min-height: 45px;

  input {
    all: unset;
    width: calc(265px * 0.6 * calc(100vw / 1366px));
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .icons {
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .select_value {
    input {
      width: calc(265px * 0.6 * calc(100vw / 1366px));
    }
  }
}

@media (max-width: 768px) {
  .select_value {
    input {
      width: calc(215px * 0.7 * calc(100vw / 1366px));
    }
  }
}

@media (max-width: 580px) {
  .select {
    width: 100%;
  }
  .select_value {
    input {
      width: 100%;
    }
  }
}
