.select {
  transition:
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  // z-index: 11;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--background-color);
  border: 1px solid var(--font-color);
  width: 265px;
  height: 45px;
  padding: 0 15px;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.select_container {
  display: none;
  position: absolute;
  transition: all 0.3s ease-in-out;
  background-color: var(--background-color);
  border: 1px solid var(--font-color);
  border-top: 1px solid var(--second-font-color);
  padding: 0 10px;
  // z-index: 10;
  width: calc(100% + 1.6px);
  height: 300px;
  top: 43px;
  left: -0.7px;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
}

.select_option_container {
  transition: all 0.3s ease-in-out;
  display: none;
  position: absolute;
  border: 1px solid var(--font-color);
  border-radius: 0 0 8px 0px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: var(--background-color);
  flex-direction: column;
  align-items: start;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  width: calc(100% - 5px);
  right: 5.7px;
  height: 280px;
  box-sizing: border-box;
  // z-index: 100;

  li {
    transition: all 0.3s ease-in-out;
    color: var(--font-color);
    display: flex;
    justify-content: start;
    list-style: none;
    align-items: center;
    padding: 0;
    padding-left: calc(30px * (100vw / 1366px));
    // padding-left: 30px;

    min-height: 40px;
    width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  li:hover {
    background-color: var(--font-color);
    color: var(--background-color);
  }
}

.select_value {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  text-align: left;
  min-height: 45px;

  .icons {
    height: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
  }

  .select_title {
    width: calc(265px * 0.77 * calc(100vw / 1366px));
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.select_active {
  border-radius: 8px 8px 0 0;
  .icons {
    .arrow_icon {
      transform: rotate(180deg);
    }
  }

  .select_option_container {
    display: flex;
  }

  .select_container {
    display: flex;
  }
}

//FireFox
.select_option_container {
  overflow-y: scroll;
  scrollbar-color: var(--second-font-color) var(--background-color);
  scrollbar-width: thin;
}

//Other browsers
.select_option_container::-webkit-scrollbar {
  width: 11px;
  transition: background 0.3s ease-in-out;
  height: 304px;
  background: inherit;
  border-radius: 50px;
}

.select_option_container::-webkit-scrollbar-thumb {
  transition: background 0.3s ease-in-out;
  background: var(--second-font-color);
  border-radius: 50px;
  position: relative;
}

@media (max-width: 1024px) {
  .select {
    .select_title {
      width: calc(265px * 0.6 * calc(100vw / 1366px));
    }
  }
}

@media (max-width: 768px) {
  .select {
    .select_title {
      width: calc(215px * 0.7 * calc(100vw / 1366px));
    }
  }
}

@media (max-width: 580px) {
  .select {
    width: 100%;
    .select_title {
      width: 100%;
    }
  }

  .select_option_container {
    li {
      padding-left: 30px;
    }
  }
}
