.select {
  transition:
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--background-color);
  border: 1px solid var(--font-color);
  width: 265px;
  height: 45px;
  padding: 0 15px;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.select_option_container {
  display: none;
  position: absolute;
  right: 4px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--font-color);
  border-radius: 0 0 8px 0px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: var(--background-color);
  flex-direction: column;
  align-items: start;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  width: 260px;
  height: 280px;
  box-sizing: border-box;
  z-index: 100;

  li {
    transition: all 0.3s ease-in-out;
    color: var(--font-color);
    display: flex;
    justify-content: start;
    list-style: none;
    align-items: center;
    padding: 0 30px;
    min-height: 40px;
    width: 100%;
    box-sizing: border-box;
  }

  li:hover {
    background-color: var(--font-color);
    color: var(--background-color);
  }
}

.select_value {
  display: flex;
  width: 215px;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 0 15px 0 8px;
  min-height: 45px;

  .icons {
    display: flex;
    gap: 10px;
  }

  .select_title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.select_active {
  border-radius: 8px 8px 0 0;
  .icons {
    .arrow_icon {
      transform: rotate(180deg);
    }
  }

  .select_option_container {
    display: flex;
  }

  .select_container {
    display: flex;
    transition: all 0.3s ease-in-out;
    background-color: var(--background-color);
    border: 1px solid var(--font-color);
    border-top: 1px solid var(--second-font-color);
    padding: 0 10px;
    position: absolute;
    z-index: 10;
    width: 265px;
    height: 300px;
    top: 45px;
    left: -1px;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
  }
}

//FireFox
.select_option_container {
  overflow-y: scroll;
  scrollbar-color: var(--second-font-color) var(--background-color);
  scrollbar-width: thin;
}

//Other browsers
.select_option_container::-webkit-scrollbar {
  width: 11px;
  transition: background 0.3s ease-in-out;
  height: 304px;
  background: inherit;
  border-radius: 50px;
}

.select_option_container::-webkit-scrollbar-thumb {
  transition: background 0.3s ease-in-out;
  background: var(--second-font-color);
  border-radius: 50px;
  position: relative;
}
