.select {
  transition:
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--background-color);
  border: 1px solid var(--font-color);
  width: 265px;
  height: 45px;
  padding: 0 15px;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.select_container {
  display: none;
  position: absolute;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: var(--background-color);
  border: 1px solid var(--font-color);
  border-top: 1px solid var(--second-font-color);
  padding: 20px 10px;
  width: calc(100% + 2.1px);
  min-height: 85px;
  top: 43px;
  left: -0.7px;
  border-radius: 0 0 8px 8px;
}

.select_value {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  text-align: left;
  min-height: 45px;

  .icons {
    height: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
  }

  .select_title {
    width: calc(265px * 0.77 * calc(100vw / 1366px));
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.select_active {
  border-radius: 8px 8px 0 0;
  .icons {
    .arrow_icon {
      transform: rotate(180deg);
    }
  }

  .select_option_container {
    display: flex;
  }

  .select_container {
    display: flex;
    gap: 10px;
    cursor: default;

    input {
      transition: all 0.3s ease-in-out;
      border: none;
      background: var(--input-background-color);
      display: flex;
      margin: 0;
      padding: 15px;
      width: 95px * calc(100vw / 1366px);
      max-width: 95px;
      height: 45px;
      box-sizing: border-box;
      border-radius: 8px;
    }
  }
}

@media (max-width: 1024px) {
  .select {
    .select_title {
      width: calc(265px * 0.6 * calc(100vw / 1366px));
    }
  }

  .select_active {
    .select_container {
      gap: 3px;
      flex-direction: column;

      input {
        width: calc(110px * 100vw / 1024px);
      }
    }
  }
}

@media (max-width: 768px) {
  .select {
    .select_title {
      width: calc(215px * 0.7 * calc(100vw / 1366px));
    }
  }
}

@media (max-width: 580px) {
  .select_active {
    .select_container {
      flex-direction: row;
      gap: 10px;

      input {
        width: 150px;
      }
    }
  }

  .select {
    width: 100%;
    .select_title {
      width: 100%;
    }
  }
}
