.icon {
  box-sizing: border-box;
  fill: var(--font-color);
  transition: all 0.3s ease-in-out;
}

.disabled {
  fill: var(--second-font-color);
}

.icon_left {
  position: relative;
  transform: rotate(180deg);
}
